<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .footer{
            background-color: #282A35;
            color: #f2f2f2;
            
        }
        .nav-links{
            color: rgb(255, 255, 255);
            padding: 30px;
            font-weight: 400;
            text-decoration: none;
        }
        .nav-links:hover{
            background-color: #035839;
        }
        .btn-subscribe
        {
            background-color: #059862;
            border: none;
            text-align: center;
            width:120px;
            height: 40px;
            color: #f2f2f2;

            border-radius: 20px;
            font-size: 16px;
        }
        .btn-subscribe:hover{
            background-color: #035839;
        }

        

    </style>
</head>
<body>

</body>
</html>