<nav class="navBar navbar navbar-expand-lg sticky-top" style="background-color: #000;">

    <div class="container-fluid">
        <a class="navbar-brand" href="#">MentorET</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Field
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <% Fields.forEach((field)=>{%>
                            <li><a class="dropdown-item" href="/articles/<%= field.name%>"><%= field.name%></a></li>
                            <% }) %>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/articles">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">About</a>
                    </li>
                   
                    <% if(isLoggedIn){ %>

                        <li>
                            <button class="btn btn-sm btn-outline-success " type="submit"><a class="nav-link" href="/composeArticle">compose article</a></button>
                        </li>
                        <li>
                            <button class="btn btn-sm btn-outline-success " type="submit"><a class="nav-link" href="#">My profile</a></button>
                        </li>
                        <li>
                            <button class="btn btn-sm btn-outline-success " type="submit"><a class="nav-link" href="/logout">Logout</a></button>
                        </li>

                    <% } else {%>

                        <li>
                            <button class="BeMentor-btn" type="submit"><a class="nav-link" href="/signInUp">Be a Mentor</a></button>
                        </li>

                    <% } %>
                </ul>
            </div>
        </div>
</nav>
