@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF !important;
  overflow-x: hidden;
}
html{
   scroll-behavior: smooth;
}

nav{
  animation: slide1 1s linear forwards;
}
.BeMentor-btn{
  opacity: 0;
  animation: slide2 1s linear forwards;
  animation-delay: .8s;
}


.main-banner {
 background-color:  #FFFFFF;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  
}
.hero-container{
  padding: 2em;
  background-color: #00000000;
  opacity: 0;
  animation: slide2 1s linear forwards;
 animation-delay: .8s;
}
.hero-description{
margin: 90px 0 !important;
}
.hero-image img{
  margin-bottom: 40px;
}
.wrapper{
  display: flex;
}
.wrapper .dynamic-texts li{
  list-style: none;
  color: #2E5895;
  margin-left: 0 !important;
  font-size: 300%;
  font-weight: 500;
  top: 0;
  position: relative;
  animation: slide 20s steps(4) infinite;
  

}
@keyframes slide {
  100%{
    top: -360px;
  }
  
}
.dynamic-texts{
  line-height: 90px;
  font-family: 'Oswald', sans-serif;
  height: 90px;
  overflow: hidden;
}
.dynamic-texts li::after{
  content: " ";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: #ffffff;
  border-left: 2px solid rgba(255, 255, 0, 0);
  animation: typping 5s steps(22) infinite;
}
@keyframes typping {
  40%,60%{
     left:calc(100% + 30px);
  }
  100%{
    left: 0;
  }
  
}
.hero-stst{
  margin-left:40px;
}
.hero-join{
   color: black;
   font-size: 1.1rem;
   font-weight: 900;

}
.hero-enhance{
   color: #F39104;
   font-size: 2.9rem;
   font-weight: 900;
  
}
.hero-uni{
   color:#282A35;
   font-size: 3.5rem;
   font-weight: 900;
}
/* description section  */
.description{
  color: #282A35;
  

}
.breif-description {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.breif-description p {
  font-size: 25px;
  width: 70%;
  font-family: 'Oswald', sans-serif;
}

.detailed-description{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 80%;
}
.detailed-description p{
  font-size: 1.1rem;
  font-family: 'Oswald', sans-serif;
  padding: 2rem;
}
.effect-l{
  transform: translatex(100%);
  opacity: 0;
  transition: transform 1.5s ease,
              opacity .5s ease-out;
}
.effect-l.shown {
  transform: translateY(0px);
  opacity: 1;
}

.effect-r{
  transform: translatex(-100%);
  opacity: 0;
  transition: transform 1.5s ease,
              opacity .5s ease-out;
}
.effect-r.shown {
  transform: translateY(0px);
  opacity: 1;
}


/* cards style */
.section-title{
  color: #282A35;
  text-align: center;
}
.card-container {
 padding-top: 3rem;
 background-image: url(/images/1.svg);
 background-repeat: no-repeat;
 background-size: cover;
 padding-bottom: 3rem;
background-color: #D9EEE1; 
} 
.post-container {
  width: 80%;
  padding:2rem;
  
  margin: 10px auto;
}

img {
  width: 100%;
  object-fit: cover;

  border-radius: 0.5rem;
}
.post {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  justify-content: center;
  gap: 1.3rem;
}
.post-box {
  border-radius: 10px;
  box-shadow: 0px 4px 15px hsl(355deg 25% 15% / 10%);
  padding: 10px;
  background-color: #ffff;
  transition: all .5s;
}
.post-box:hover{
  transform: translateY(-10px);
  box-shadow: 0px 4px 15px hsla(357, 25%, 15%, 0.719);
}
.post-title {
  margin: 20px auto;
  color: black;
   font-size: 1.1rem;
   font-weight: 900;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -moz-box-orient: vertical;
}
.post-date{
   color:#2E5895;
   font-size: 0.9rem;
   font-weight: 900;

}
.post-description {
  font-size: 0.8rem;
  line-height: 1.5rem;
  margin: 6px 0 10px;
  color: black;
  font-family: 'Poppins', sans-serif;
}
/* .read-more-button {
  
  background-color: #F69321;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 0px 8px 15px hsla(357, 25%, 15%, 0.349);
  border: #F69321 1px solid;
}
.read-more-button a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size:medium;
} */

 .learn-more {
  margin: 20px 0px 30px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
 }
 
button.learn-more {
  width: 12rem;
  height: auto;
 }
 
 button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #F69321 ;
  border-radius: 1.625rem;
 }
 
 button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
 }
 
 button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }
 
 button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
 }
 
 button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
 }
 button.learn-more .button-text a{
  text-decoration: none;
  color: #F39104;
 }
 
 button:hover .circle {
  width: 100%;
 }
 
 button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
 }
 
 button:hover .button-text a{
  color: #fff;
 }




.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile img {
  width: 40px;
}
.profile-name{
   color: #090F1F;
}
.s-effect {
  transform: translateY(70px);
  opacity: 0;
  transition: transform 1.5s ease,
              opacity .5s ease-out;
}
.s-effect.shown {
  transform: translateY(0px);
  opacity: 1;
}

/*e for FAQ section */
#FAQ{
   background-color: #96D4D4;
   color: #000;
   padding: 20px;
}
.faq {
  
  border: .5px solid #201b1b42;
  margin-bottom: 5px;
  border-radius: 10px;
  box-shadow: 0px 8px 15px hsla(357, 25%, 15%, 0.493);
  padding: 5px;
}
.faq h3 {
  margin-top: 0;
  font-size: 20px;
  font-weight:200;
  cursor: pointer;
}
.faq p {
  margin-top: 10px;
  display: none;
  transition: 6s;
}
.faq img {
  width: 50px;
  height: 30px;
  margin: auto 1%;
  transform: rotate(0deg);
  transition: transform 0.5s ease-out;
}

.rotate {
   transform: rotate(180deg);
 }
@media (max-width:680px) {
  .hero-container{
    margin-top: 0px !important;
    padding: 2em;
  }
  .static-text{
    margin: auto;
  }

.wrapper .dynamic-texts li{
 
  font-size: 150%;
  

}
.hero-stst{
  margin-left:0px;
  text-align: center;
}

  
}
