@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF !important;
  overflow-x: hidden;
}
html{
   scroll-behavior: smooth;
}
.navBar {
  background-color: #2E5895 !important;
  box-shadow: 0px 4px 15px hsla(357, 25%, 15%, 0.514);
  height: 6rem;
  margin: 2rem auto;
  border-radius: 10px;
  width: 80%;
  animation: slide1 1s linear forwards;
}

/* nav bar slide  */

@keyframes slide1 {
  0% {
      opacity: 0;
      width: 0;
  }
  100% {
      opacity: 100%;
  }
}


.nav-items {
 display: flex;
 align-items: center;

}
.nav-links{
 color: rgb(255, 255, 255);
 padding: 0 30px;
 font-weight: 400;
 text-decoration: none;
 border-bottom: 0px transparent solid;
 border-bottom-width: 0%;
 transition: .2s linear;
}
.nav-links:hover{

border-bottom: 1px #F69321 solid;
border-bottom-width: 0%;
}
.BeMentor-btn{
 background-color: #F69321;
 border: none;
 white-space:nowrap;
 padding: 10px;
 text-align: center;
 opacity: 0;
 /* width:120px; */
 height:70px;
 color: #f2f2f2;
 margin-bottom: 10px;
 border-radius: 20px;
 font-size: 16px;
 animation: slide2 1s linear forwards;
 animation-delay: .8s;
}
.nav-btn
{ 
  width:auto;
  height:40px;
  margin-bottom: 10px;
  border-radius: 15px;
  margin-left: 1rem;
}
@keyframes slide2 {
  0% {
      opacity: 0;
     
  }
  100% {
      opacity: 1;
  }
}
.BeMentor-btn a{
text-decoration: none; 
color:#D9EEE1;
font-weight: 600;
}
.BeMentor-btn:hover{
 background-color: #fd8700;
 box-shadow: 0px 4px 15px hsl(355deg 25% 15% / 10%);

 color: #f2f2f2;
}
.main-banner {
 background-color:  #FFFFFF;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  
}
.hero-container{
  padding: 2em;
  background-color: #00000000;
  opacity: 0;
  animation: slide2 1s linear forwards;
 animation-delay: .8s;
}
.hero-description{
margin: 90px 0 !important;
}
.hero-image img{
  margin-bottom: 40px;
}
.wrapper{
  display: flex;
}
.wrapper .dynamic-texts li{
  list-style: none;
  color: #2E5895;
  margin-left: 0 !important;
  font-size: 300%;
  font-weight: 500;
  top: 0;
  position: relative;
  animation: slide 20s steps(4) infinite;
  

}
@keyframes slide {
  100%{
    top: -360px;
  }
  
}
.dynamic-texts{
  line-height: 90px;
  font-family: 'Oswald', sans-serif;
  height: 90px;
  overflow: hidden;
}
.dynamic-texts li::after{
  content: " ";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: #ffffff;
  border-left: 2px solid rgba(255, 255, 0, 0);
  animation: typping 5s steps(22) infinite;
}
@keyframes typping {
  40%,60%{
     left:calc(100% + 30px);
  }
  100%{
    left: 0;
  }
  
}
.hero-stst{
  margin-left:40px;
}
.hero-join{
   color: black;
   font-size: 1.1rem;
   font-weight: 900;

}
.hero-enhance{
   color: #F39104;
   font-size: 2.9rem;
   font-weight: 900;
  
}
.hero-uni{
   color:#282A35;
   font-size: 3.5rem;
   font-weight: 900;
}
/* description section  */
.description{
  color: #282A35;
  

}
.breif-description {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.breif-description p {
  font-size: 25px;
  width: 70%;
  font-family: 'Oswald', sans-serif;
}

.detailed-description{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 80%;
}
.detailed-description p{
  font-size: 1.1rem;
  font-family: 'Oswald', sans-serif;
  padding: 2rem;
}
.effect-l{
  transform: translatex(100%);
  opacity: 0;
  transition: transform 1.5s ease,
              opacity .5s ease-out;
}
.effect-l.shown {
  transform: translateY(0px);
  opacity: 1;
}

.effect-r{
  transform: translatex(-100%);
  opacity: 0;
  transition: transform 1.5s ease,
              opacity .5s ease-out;
}
.effect-r.shown {
  transform: translateY(0px);
  opacity: 1;
}


/* cards style */
.section-title{
  color: #282A35;
  text-align: center;
}
.card-container {
 padding-top: 3rem;
 background-image: url(/images/1.svg);
 background-repeat: no-repeat;
 background-size: cover;
 padding-bottom: 3rem;
background-color: #D9EEE1; 
} 
.post-container {
  width: 80%;
  padding:2rem;
  
  margin: 10px auto;
}

img {
  width: 100%;
  object-fit: cover;

  border-radius: 0.5rem;
}
.post {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  justify-content: center;
  gap: 1.3rem;
}
.post-box {
  border-radius: 10px;
  box-shadow: 0px 4px 15px hsl(355deg 25% 15% / 10%);
  padding: 10px;
  background-color: #ffff;
  transition: all .5s;
}
.post-box:hover{
  transform: translateY(-10px);
  box-shadow: 0px 4px 15px hsla(357, 25%, 15%, 0.719);
}
.post-title {
  margin: 20px auto;
  color: black;
   font-size: 1.1rem;
   font-weight: 900;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -moz-box-orient: vertical;
}
.post-date{
   color:#2E5895;
   font-size: 0.9rem;
   font-weight: 900;

}
.post-description {
  font-size: 0.8rem;
  line-height: 1.5rem;
  margin: 6px 0 10px;
  color: black;
  font-family: 'Poppins', sans-serif;
}
.read-more-button {
  margin: 20px 0px 30px;
  background-color: #F69321;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 0px 8px 15px hsla(357, 25%, 15%, 0.349);
  border: #F69321 1px solid;
}
.read-more-button a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size:medium;
}
.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile img {
  width: 40px;
}
.profile-name{
   color: #090F1F;
}
.s-effect {
  transform: translateY(70px);
  opacity: 0;
  transition: transform 1.5s ease,
              opacity .5s ease-out;
}
.s-effect.shown {
  transform: translateY(0px);
  opacity: 1;
}

/*e for FAQ section */
#FAQ{
   background-color: #96D4D4;
   color: #000;
   padding: 20px;
}
.faq {
  
  border: .5px solid #201b1b42;
  margin-bottom: 5px;
  border-radius: 10px;
  box-shadow: 0px 8px 15px hsla(357, 25%, 15%, 0.493);
  padding: 5px;
}
.faq h3 {
  margin-top: 0;
  font-size: 20px;
  font-weight:200;
  cursor: pointer;
}
.faq p {
  margin-top: 10px;
  display: none;
  transition: 6s;
}
.faq img {
  width: 50px;
  height: 30px;
  margin: auto 1%;
  transform: rotate(0deg);
  transition: transform 0.5s ease-out;
}
.rotate {
   transform: rotate(180deg);
 }
/* style for footer */
footer{
  background-color: #D9EEE1;
}
.footer-heading{
  color:#282A35;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
}
.Email-input{
  border-radius: 10px;
  border: #D9EEE1 .5px solid;
  box-shadow: 0px 8px 15px hsla(357, 25%, 15%, 0.349);
  width: 100%;
  color: #000;
  background-color: #ffffff;
  height: 40px;
  outline: none;
}
.Email-input:focus {
  border: #1f201f .5px solid;
}
.newsletter form{
   width: 80%;
   margin:  auto ;
}
.subscribe-btn{
  margin: 20px 0px 30px;
  background-color: #F69321;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  box-shadow: 0px 8px 15px hsla(357, 25%, 15%, 0.349);
  border: #F69321 1px solid;

}
@media  (max-width:412px) {
  .navBar {
   
    width: 100%;
  }
  
}
