body {
  margin: 0;
  padding: 0;
}
html{
   scroll-behavior: smooth;
}
.navbar {
  background-color: #ffffff ;
  color: black;
}
.nav-links{
  color: black;
}
.BeMentor-btn{
  background-color: #002c58;
  height: 20px;
  width: 50px;
}
.main-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  background-image: url(/images/circle-scatter-haikei\ blue.svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color:  #f2f2f2;
  height: 100vh;
}
.banner-description {
   display: flex;
   align-items: center;
  width: 80%;
  height: 80%;
}

.description-container {
  margin-top: 0%;
  background-color: rgba(250, 250, 250, 0);
}
.hero-container{
   margin: 1.3rem 0;
   height: 50%;
}
.hero-join{
   color: black;
   font-size: 1.1rem;
   font-weight: 900;

}
.hero-enhance{
   color: #FB7267;
   font-size: 2.9rem;
   font-weight: 900;
  
}
.hero-uni{
   color:#f88400;
   font-size: 3.5rem;
   font-weight: 900;
}
/* cards style */
.card-container {
 padding-top: 3rem;
 background-image: url(/images/circle-scatter-haikei.svg);
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-size: cover;
 padding-bottom: 3rem;
background-color: #fff; 
} 
.post-container {
  width: 80%;
  padding:2rem;
  margin: 0 auto;
}
img {
  width: 100%;
  object-fit: cover;

  border-radius: 0.5rem;
}
.post {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  justify-content: center;
  gap: 1.3rem;
}
.post-box {
  border-radius: 10px;
  box-shadow: 0px 4px 15px hsl(355deg 25% 15% / 10%);
  padding: 10px;
  background-color: #66cccc;
}
.post-title {
  margin: 20px auto;
  color: black;
   font-size: 1.1rem;
   font-weight: 900;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -moz-box-orient: vertical;
}
.post-date{
   color:#f88400;
   font-size: 0.9rem;
   font-weight: 900;

}
.post-description {
  font-size: 0.8rem;
  line-height: 1.5rem;
  margin: 6px 0 10px;
  color: black;
}
.read-more-button {
  margin: 20px 0px 30px;
  background-color: #002c58;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 0px 8px 15px hsl(355deg 25% 15% / 10%);
  border: #002c58 1px solid;
}
.read-more-button a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size:medium;
}
.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile img {
  width: 40px;
}
.profile-name{
   color: #090F1F;
}
/*something section */
/* #Something{

  
} */
/*e for FAQ section */
#FAQ{
   background-image: url(/images/wave.svg);
   background-repeat: no-repeat;
   color: #fff;
}
.active{
   background-color: #f88400;
}
.faq {
  
  border: 1px solid #ccc;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 8px 15px hsl(355deg 25% 15% / 10%);
  padding: 10px;
}
.faq h3 {
  margin-top: 0;

  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.faq p {
  margin-top: 10px;
  display: none;
}
.faq img {
  width: 50px;
  height: 30px;
  margin: auto 1%;
  transform: rotate(0deg);
  transition: transform 0.5s ease-out;
}
.rotate {
   transform: rotate(180deg);
 }
/* style for footer */
footer {
  background-color: #090F1F;
  color: black;
}
