body {
  margin: 0;
  padding: 0;
}
html{
   scroll-behavior: smooth;
}
.navBar {
   height: 5rem;
}
.nav-links{
  color: rgb(255, 255, 255);
  padding: 30px;
  font-weight: 400;
  text-decoration: none;
}
.nav-links:hover{
background-color: #035839;
}
.BeMentor-btn{
  background-color: #059862;
  border: none;
  text-align: center;
  width:120px;
  height: 40px;
  color: #f2f2f2;
  margin-bottom: 10px;
  border-radius: 20px;
  font-size: 16px;
}
.BeMentor-btn a{
text-decoration: none; 
color:#D9EEE1;
font-weight: 600;
}
.BeMentor-btn:hover{
  background-color: #035839;
  color: #f2f2f2;
}
.main-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  background-color:  #D9EEE1;
  height: 100vh;
}
.banner-description {
   display: flex;
   align-items: center;
  width: 80%;
  height: 80%;
}

.hero-container{
   margin: 1.3rem 0;
   height: 50%;
   text-align: center;
}
.wrapper{
  display: flex;
}
.wrapper .dynamic-texts li{
  list-style: none;
  text-align: center;
  color: #059862;
  font-size: 60px;
  font-weight: 500;
  top: 0;
  position: relative;
  animation: slide 20s steps(4) infinite;
  

}
@keyframes slide {
  100%{
    top: -360px;
  }
  
}
.dynamic-texts{
  margin-left: 3.5rem;
  line-height: 90px;
  height: 90px;
  text-align: center;
  overflow: hidden;
}
.dynamic-texts li::after{
  content: " ";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: #D9EEE1;
  border-left: 2px solid rgba(255, 255, 0, 0);
  animation: typping 5s steps(22) infinite;
}
@keyframes typping {
  40%,60%{
     left:calc(100% + 30px);
  }
  100%{
    left: 0;
  }
  
}
.hero-join{
   color: black;
   font-size: 1.1rem;
   font-weight: 900;

}
.hero-enhance{
   color: #FB7267;
   font-size: 2.9rem;
   font-weight: 900;
  
}
.hero-uni{
   color:#282A35;
   font-size: 3.5rem;
   font-weight: 900;
}
/* cards style */
.section-title{
  color: #059862;
  text-align: center;
}
.card-container {
 padding-top: 3rem;
 background-image: url(/images/);
 background-repeat: no-repeat;
 background-size: cover;
 padding-bottom: 3rem;
background-color: #fff; 
} 
.post-container {
  width: 80%;
  padding:2rem;
  margin: 0 auto;
}
img {
  width: 100%;
  object-fit: cover;

  border-radius: 0.5rem;
}
.post {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  justify-content: center;
  gap: 1.3rem;
}
.post-box {
  border-radius: 10px;
  box-shadow: 0px 4px 15px hsl(355deg 25% 15% / 10%);
  padding: 10px;
  background-color: #66cccc;
}
.post-title {
  margin: 20px auto;
  color: black;
   font-size: 1.1rem;
   font-weight: 900;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -moz-box-orient: vertical;
}
.post-date{
   color:#f88400;
   font-size: 0.9rem;
   font-weight: 900;

}
.post-description {
  font-size: 0.8rem;
  line-height: 1.5rem;
  margin: 6px 0 10px;
  color: black;
}
.read-more-button {
  margin: 20px 0px 30px;
  background-color: #059862;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 0px 8px 15px hsl(355deg 25% 15% / 10%);
  border: #038052 1px solid;
}
.read-more-button a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size:medium;
}
.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile img {
  width: 40px;
}
.profile-name{
   color: #090F1F;
}
/*something section */
/* #Something{

  
} */
/*e for FAQ section */
#FAQ{
   background-image: url(/images/);
   background-repeat: no-repeat;
   color: #fff;
}
.active{
   /* background-color: #f88400; */
}
.faq {
  
  border: 1px solid #ccc;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 8px 15px hsl(355deg 25% 15% / 10%);
  padding: 10px;
}
.faq h3 {
  margin-top: 0;

  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.faq p {
  margin-top: 10px;
  display: none;
}
.faq img {
  width: 50px;
  height: 30px;
  margin: auto 1%;
  transform: rotate(0deg);
  transition: transform 0.5s ease-out;
}
.rotate {
   transform: rotate(180deg);
 }
/* style for footer */

