body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(
    45deg,
    rgba(11, 0, 112, 0.678) 50%,
    rgba(255, 255, 255, 0.959) 50%
  );
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}
.carousel-container {
  margin: 50px auto;
  padding: 50px;
  width: 50%;
  border-radius: 10px;

  background: rgba(255, 255, 255, 0.37);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.637);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
}
.container {
  width: 100%;
  /* margin: 50px auto; */
  background-color: #ffffff00;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #000000;
}
label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}
input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px yellow solid;
  margin-bottom: 20px;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
form button {
  background-color: #4caf50;
  color: #fff;
  width: 200px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #3e8e41;
}
.carousel-indicator {
  width: 100%;
  border: 1px solid yellow;
  display: flex;
}
.carousel-indicator button {
  width: 100%;

  padding: 10px 20px;
  border: none;
  color: #000000;
  background-color: #33333300;
}
.carousel-indicator button:active{
  background-color: yellow;
}
