
/* default light mode */
body {
    background-color: #fafafa;
    color: #333;
  }
.read-container{
    width: 95%;
    box-shadow: 0px 4px 15px hsla(357, 25%, 15%, 0.356);
    
    margin:2rem auto;
    padding: 30px;
}

.blog-post-title{
  text-align: center;
  }
.toggle-container {
    position: fixed;
    bottom: 20px;
    right: 100px;
  }
  
  .toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 34px;
    border-radius: 13px;
    background-color: #000000;
  }
  
  .toggle-label:before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    top: 2px;
    left: 2px;
    transition: transform 0.2s ease-in-out;
  }
  .toggle-label::after{
    position: absolute;
    content: ".🌞";
    top: 4px;
    left: 2px;
    transition: transform 0.2s ease-in-out;

  }
  
  input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  input[type="checkbox"]:checked + .toggle-label {
    background-color: #ffffff;
  }
  
  input[type="checkbox"]:checked + .toggle-label:before {
    transform: translateX(64px);
    background-color: #000000;
  }
  input[type="checkbox"]:checked + .toggle-label:after {
    transform: translateX(70px);
    content: "🌙.";
  }
  
  