body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.carousel-container {
  margin: 50px auto;
  height:550px;
  width: 30rem;
  background: rgba(255, 255, 255, 0.123);
  box-shadow: 0 40px 300px rgba(0, 0, 0, 0.363);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
}
.active-btn{
  border-radius: 10px 10px 0 0;
  color: #fff;
  background: linear-gradient(#fff, #fff);
}

.container {
  width: 100%;
  background-color: #fffffff3;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3{
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  margin-bottom: 0;
  background:  #2E5895;
  padding: 10px;

}
#ErrorMessage{
  color: red;
}
#message{
  margin: 10px;
}
label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}
form button {
  background-color: #4caf50;
  color: #fff;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 2rem auto;
  transition: background-color 0.3s ease;
}
.carousel-indicator {
  width: 100%;
  display: flex;
}
.carousel-indicator button {
  width: 100%;
  padding: 10px 20px;
  border-radius: 1px;
  color: #000000;
  background-color: #2E5895;
  border: none;
}
@media (max-width:525px) {
  .carousel-container {
    width: 90%;
  }
}